.color-primary-0 { color: #015366 }
.color-primary-1 { color: #308296 }
.color-primary-2 { color: #036D86 }
.color-primary-3 { color: #003440 }
.color-primary-4 { color: #000506 }

.color-complement-0 { color: #A55200 }
.color-complement-1 { color: #F29D49 }
.color-complement-2 { color: #D96C00 }
.color-complement-3 { color: #673300 }
.color-complement-4 { color: #0A0500 }

body {
    background-color: #fff;
}

h2 {
    color: #015366;
}

label {
    margin: 25px 0 0 0;
}

img {
    border-radius: 2px;
}

.header-wrap{
    margin-top: 80px;
}

.navbar{
    z-index: 99;
}

form .btn{
    margin-top: 10px;
}

hr .style {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.img-people {
    max-height: 100px;
}

.card{
    margin-top: 10px;
}

.bg-del{
    background-color: #BDBDBD;
}

a.popup{
    color:#000;
}
a.popup span
{
    position:absolute;
    z-index:10;
    margin-top:25px;
    margin-left:-50px;
    color:#fff;
    background:rgba(65,113,172,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(65,113,172,.5);
    opacity:0;
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
}
a.popup:hover span, a.popup:focus span, a.popup-light:hover span, a.popup-light:focus span{
    transform:scale(1) rotate(0);
    opacity:1;
}
a.popup-light span{
    position:absolute;
    z-index:10;
    margin-top:-70%;
    margin-left:-5%;
    color:#000;
    background:rgba(217,212,206,.9);
    padding:10px;
    border-radius:5px;
    box-shadow:0 0 2px rgba(217,212,206,.5);
    opacity:0;
    transform:scale(0) rotate(-12deg);
    transition:all .5s;
}

.img-popup-l, .img-popup-h{
    width: 100%;
}

/* override bootstrap */
.bg-navbar {
    background-color: #003440 !important;
}
.thead-inverse th {
    background-color: #003440;
}
.modal-title {
    color: #015366;
}

@media (min-width: 1199px){
    .img-popup-l{
        width: 200%;
    }
}