
.color-primary-0 { color: #051C70 }	/* Main Primary color */
.color-primary-1 { color: #0F2FA4 }
.color-primary-2 { color: #092488 }
.color-primary-3 { color: #021455 }
.color-primary-4 { color: #010C34 }

.color-complement-0 { color: #A57300 }	/* Main Complement color */
.color-complement-1 { color: #F2A800 }
.color-complement-2 { color: #C98B00 }
.color-complement-3 { color: #7E5700 }
.color-complement-4 { color: #4D3500 }

body {
    background-color: #fff;
}

h2 {
    color: #051C70;
}

.h2-bl {
    color: #051C70;
    border-left: 4px solid #C98B00;
    padding-left: 10px;
}

label {
    margin: 25px 0 0 0;
}

img {
    border-radius: 2px;
}

.header-wrap {
    margin-top: 80px;
}

.navbar {
    z-index: 99;
}

form .btn {
    margin-top: 10px;
}

hr .style {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.img-people {
    max-height: 100px;
    border-radius: 10px;
}

.img-card {
    border-radius: 10px;
}

.card{
    margin-top: 10px;
    border-radius: 10px;
}

select:disabled, input:disabled {
    border-radius: 5px;
}

input:disabled {
    padding-left: 5px;
}

.bl-memories {
    border-left: 2px solid #0F2FA4;
    padding-left: 10px;
}

.bg-del{
    background-color: #BDBDBD;
}

.dot-memories {
    height: 2px;
    width: 2px;
    background-color: #021455;
    border-radius: 50%;
    display: inline-block;
}

a.popup{
    color:#000;
}
a.popup span
{
    position:absolute;
    z-index:10;
    margin-top:25px;
    margin-left:-50px;
    color:#fff;
    background:rgba(48,130,150,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(1,83,102,.5);
    opacity:0;
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
}
a.popup:hover span, a.popup:focus span, a.popup-light:hover span, a.popup-light:focus span{
    transform:scale(1) rotate(0);
    opacity:1;
}
a.popup-light span{
    position:absolute;
    z-index:10;
    margin-top:-70%;
    margin-left:-5%;
    color:#000;
    background:rgba(217,212,206,.9);
    padding:10px;
    border-radius:5px;
    box-shadow:0 0 2px rgba(217,212,206,.5);
    opacity:0;
    transform:scale(0) rotate(-12deg);
    transition:all .5s;
}

.img-popup-l, .img-popup-h{
    width: 100%;
}

/* table-rounded */
.table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/* callout */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}
.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}
.bd-callout p:last-child {
    margin-bottom: 0
}
.bd-callout code {
    border-radius: .25rem
}
.bd-callout+.bd-callout {
    margin-top: -.25rem
}
.bd-callout-info {
    border-left-color: #5bc0de
}
.bd-callout-info h4 {
    color: #5bc0de
}
.bd-callout-warning {
    border-left-color: #f0ad4e
}
.bd-callout-warning h4 {
    color: #f0ad4e
}
.bd-callout-danger {
    border-left-color: #d9534f
}
.bd-callout-danger h4 {
    color: #d9534f
}

/* override bootstrap */
.bg-navbar {
    background-color: #021455 !important;
}
.thead-inverse th {
    background-color: #021455;
}
.modal-title {
    color: #051C70;
}
.modal-dialog {
    max-height: 100%;
}
.modal-content {
    max-height: 100%;
}
.modal-hg {
    max-height: 100%;
}
.alert {
    border-radius: 5px !important;
}
.alert-info {
    background-color: #c0d9df;
    border-color: #0F2FA4;
    color: #021455;
}
.page-item.active .page-link {
    background-color: #0F2FA4;
    border-color: #0F2FA4;
}

.btn-primary-1 {
    color: #0F2FA4;
}

.btn-primary-1:hover {
    color: #0F2FA4;
    background-color: hsla(0,0%,60%,.2);
    border-color: hsla(0,0%,60%,.2);
}

.btn-group-toggle > .btn input[type="checkbox"], .btn-group-toggle > .btn input[type="radio"], .btn-group-toggle > .btn-group > .btn input[type="checkbox"], .btn-group-toggle > .btn-group > .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.img-index-lg {
    display: block;
}

.img-index-sx {
    display: none;
}

@media (min-width: 1199px){
    .img-popup-l{
        width: 200%;
    }
    .modal-lg {
        max-width: 1200px;
    }
}

@media (min-width: 1599px){
    .container {
        max-width: 1400px;
    }
    .table td {
        min-width: 5%;
    }
    .ck-inline-min {
        max-height: 200px !important;
        overflow: hidden  !important;
    }
    .ck-inline-max {
        max-height: 2000px !important;
        overflow: visible !important;
    }
}

@media (max-width: 799px){
    footer {
        display: none;
    }
    .table td, .table th {
        padding : .5rem;
    }
    .img-index-lg {
        display: none;
    }
    .img-index-sx {
        display: block;
    }
}